#[client]
#user="root"
#password="password"
#socket=/run/mysqld/mysqld.sock

[mysql]
no-auto-rehash
connect_timeout=2

[mysqld]
sql_mode=ANSI_QUOTES
key_buffer_size         = 16M
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8
myisam-recover-options  = BACKUP
max_binlog_size         = 100M
innodb_buffer_pool_size=10096M
innodb_log_file_size=640M
innodb_lock_wait_timeout=900
